
<div class="PM">
    <form class="PM__form" name="PM__form" id="PM__form">
        <h2 class="PM__title"># Modifier les profils</h2>
        <input required type="number" name="id" placeholder="Saisir l'ID du profil" value="{{id}}">
        <input required type="text" name="name" placeholder="Saisir le nom de profil" value="{{name}}">
        <input required type="number" name="min_age" placeholder="Saisir l'age de restriction" value="{{min_age}}">
        <input required type="text" name="photo" placeholder="Saisir le nom du fichier image du profil" value="{{photo}}">

        <input onclick="{{handler}}" type="button" value="Update" name="todo">
    </form>
</div> 