.navbar {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  
  z-index: 1000;
  overflow: hidden;


  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bblack);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  } 



.logo_site {
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
}

.logo__maj {
  font-size: 2rem;
  font-family: "Rubik Mono One", sans-serif;
}

.navbar__list{
  display: flex;
  color: var(--color-gray-light);
  background-color: var(--color-bleu);
}

.point0 {
  color: var(--color-gray-light);
  background-color: var(--color-bleu);
}

.retour-menu {
  /* grid-column-start: 1; */
  /* display: block; */
  width: auto;
  height: auto;
  color: var(--color-bleu-with);
  background-color: var(--color-bblack);
  border-color: rgba(0, 0, 0, 0);
}

/* .avbar__list {
  /* grid-column-start: 2; * /
} */

.selectp {
  /* grid-column-start: 4; */
  background-color: rgba(255, 240, 240, 0);
  border-color: rgba(255, 240, 240, 0);
}

.sectprofile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* favory */
.navbar__favori {
  /* grid-column-start: 3; */
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}

.favoris {
  width: 65px;
  height: 37px;
  
  
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.favoris__svg {
  width: 2.3125rem;
  height: 2.6875rem;
  align-items: center;
}

.etiquette {
  
}
/*____________________________________________*/

.petit {
  display: flex;

}


@media only screen and (max-width: 499px) and (min-width: 10px) {
  .logo_site {
    font-size: 1rem;
  }
  .logo__maj {
    font-size: 1.2rem;
  }

  .petit {
    display: flex;
    grid: row;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
  }

  .retour-menu {
    grid-row: 1;
  }
}
