
  <!-- <h1 class="title">Section</h1> - ->
<input type="radio" name="slider" title="slide2" class="slider__nav"/> <!- - définit une section - ->

<div class="slider__contents"><i class="slider__image fa fa-codepen"></i> <! -- est la section -- >
      <h2 class="slider__caption">titre</h2>
      <p class="slider__txt">contenue</p>
    </div> -->

<!-- définit une section -->
<div class="parent">
  <div class="ligne conteneurlignefilm">

    <div class="div1 lignefilm" id="point1f">
      <article class="sectfilm" onclick="{{film1.handler}}">
        <svg class="sectfilm__erigister"> <!-- favory -->
          <path d="M36.5 0H0V64.4065C0 64.8347 0.503185 65.0648 0.827075 64.7847L18.5 49.5L35.6678 64.7603C35.9903 65.0469 36.5 64.818 36.5 64.3866V0Z" fill="#0069d1"/>
        </svg>

        <img src="/server/images/{{film1.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film1.titre}}</h2>
        <p class="sectfilm__desci">{{film1.desci}}</p></div>
      </article>
    </div>
    <div class="div2 lignefilm" id="point2f">
      <article class="sectfilm" onclick="{{film2.handler}}">
        <img src="/server/images/{{film2.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film2.titre}}</h2>
        <p class="sectfilm__desci">{{film2.desci}}</p></div>
      </article>
    </div>
    <div class="div3 lignefilm" id="point3f">
      <article class="sectfilm" onclick="{{film3.handler}}">
        <img src="/server/images/{{film3.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film3.titre}}</h2>
        <p class="sectfilm__desci">{{film3.desci}}</p></div>
      </article>
    </div>
    <div class="div4 lignefilm" id="point4f">
      <article class="sectfilm" onclick="{{film4.handler}}">
        <img src="/server/images/{{film4.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film4.titre}}</h2>
        <p class="sectfilm__desci">{{film4.desci}}</p></div>
      </article>
    </div>

    <!-- 8 suplémantaires -->
    <div class="div5 lignefilm" id="point5f">
      <article class="sectfilm" onclick="{{film5.handler}}">
        <img src="/server/images/{{film5.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film5.titre}}</h2>
        <p class="sectfilm__desci">{{film5.desci}}</p></div>
      </article>
    </div>
    <div class="div6 lignefilm" id="point6f">
      <article class="sectfilm" onclick="{{film6.handler}}">
        <img src="/server/images/{{film6.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film6.titre}}</h2>
        <p class="sectfilm__desci">{{film6.desci}}</p></div>
      </article>
    </div>
    <div class="div7 lignefilm" id="point7f">
      <article class="sectfilm" onclick="{{film7.handler}}">
        <img src="/server/images/{{film7.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film7.titre}}</h2>
        <p class="sectfilm__desci">{{film7.desci}}</p></div>
      </article>
    </div>
    <div class="div8 lignefilm" id="point8f">
      <article class="sectfilm" onclick="{{film8.handler}}">
        <img src="/server/images/{{film8.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film8.titre}}</h2>
        <p class="sectfilm__desci">{{film8.desci}}</p></div>
      </article>
    </div>
    <div class="div9 lignefilm" id="point9f">
      <article class="sectfilm" onclick="{{film9.handler}}">
        <img src="/server/images/{{film9.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film9.titre}}</h2>
        <p class="sectfilm__desci">{{film9.desci}}</p></div>
      </article>
    </div>
    <div class="div10 lignefilm" id="point10f">
      <article class="sectfilm" onclick="{{film10.handler}}">
        <img src="/server/images/{{film10.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film10.titre}}</h2>
        <p class="sectfilm__desci">{{film10.desci}}</p></div>
      </article>
    </div>
    <div class="div11 lignefilm" id="point11f">
      <article class="sectfilm" onclick="{{film11.handler}}">
        <img src="/server/images/{{film11.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film11.titre}}</h2>
        <p class="sectfilm__desci">{{film11.desci}}</p></div>
      </article>
    </div>
    <div class="div12 lignefilm" id="point12f">
      <article class="sectfilm" onclick="{{film12.handler}}">
        <img src="/server/images/{{film12.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film12.titre}}</h2>
        <p class="sectfilm__desci">{{film12.desci}}</p></div>
      </article>
    </div>
  </div>
