
  <!-- <h1 class="title">Section</h1> - ->
<input type="radio" name="slider" title="slide2" class="slider__nav"/> <!- - définit une section - ->

<div class="slider__contents"><i class="slider__image fa fa-codepen"></i> <! -- est la section -- >
      <h2 class="slider__caption">titre</h2>
      <p class="slider__txt">contenue</p>
    </div> -->

<!-- définit une section -->
<div class="parent">
  <div class="ligne conteneurlignefilm">

    <div class="div1 lignefilm" id="point1f">
      <article class="sectfilm" onclick="{{film1.handler}}">
        <svg class="sectfilm__erigister"> <!-- favory -->
          <path d="M36.5 0H0V64.4065C0 64.8347 0.503185 65.0648 0.827075 64.7847L18.5 49.5L35.6678 64.7603C35.9903 65.0469 36.5 64.818 36.5 64.3866V0Z" fill="#0069d1"/>
        </svg>

        <img src="/server/images/{{film1.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film1.titre}}</h2>
        <p class="sectfilm__desci">{{film1.desci}}</p></div>
      </article>
    </div>
    <div class="div2 lignefilm" id="point2f">
      <article class="sectfilm" onclick="{{film2.handler}}">
        <img src="/server/images/{{film2.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film2.titre}}</h2>
        <p class="sectfilm__desci">{{film2.desci}}</p></div>
      </article>
    </div>
    <div class="div3 lignefilm" id="point3f">
      <article class="sectfilm" onclick="{{film3.handler}}">
        <img src="/server/images/{{film3.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film3.titre}}</h2>
        <p class="sectfilm__desci">{{film3.desci}}</p></div>
      </article>
    </div>
    <div class="div4 lignefilm" id="point4f">
      <article class="sectfilm" onclick="{{film4.handler}}">
        <img src="/server/images/{{film4.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film4.titre}}</h2>
        <p class="sectfilm__desci">{{film4.desci}}</p></div>
      </article>
    </div>

    <!-- 8 suplémantaires -->
    <div class="div5 lignefilm" id="point5f">
      <article class="sectfilm" onclick="{{film5.handler}}">
        <img src="/server/images/{{film5.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film5.titre}}</h2>
        <p class="sectfilm__desci">{{film5.desci}}</p></div>
      </article>
    </div>
    <div class="div6 lignefilm" id="point6f">
      <article class="sectfilm" onclick="{{film6.handler}}">
        <img src="/server/images/{{film6.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film6.titre}}</h2>
        <p class="sectfilm__desci">{{film6.desci}}</p></div>
      </article>
    </div>
    <div class="div7 lignefilm" id="point7f">
      <article class="sectfilm" onclick="{{film7.handler}}">
        <img src="/server/images/{{film7.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film7.titre}}</h2>
        <p class="sectfilm__desci">{{film7.desci}}</p></div>
      </article>
    </div>
    <div class="div8 lignefilm" id="point8f">
      <article class="sectfilm" onclick="{{film8.handler}}">
        <img src="/server/images/{{film8.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film8.titre}}</h2>
        <p class="sectfilm__desci">{{film8.desci}}</p></div>
      </article>
    </div>
    <div class="div9 lignefilm" id="point9f">
      <article class="sectfilm" onclick="{{film9.handler}}">
        <img src="/server/images/{{film9.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film9.titre}}</h2>
        <p class="sectfilm__desci">{{film9.desci}}</p></div>
      </article>
    </div>
    <div class="div10 lignefilm" id="point10f">
      <article class="sectfilm" onclick="{{film10.handler}}">
        <img src="/server/images/{{film10.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film10.titre}}</h2>
        <p class="sectfilm__desci">{{film10.desci}}</p></div>
      </article>
    </div>
    <div class="div11 lignefilm" id="point11f">
      <article class="sectfilm" onclick="{{film11.handler}}">
        <img src="/server/images/{{film11.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film11.titre}}</h2>
        <p class="sectfilm__desci">{{film11.desci}}</p></div>
      </article>
    </div>
    <div class="div12 lignefilm" id="point12f">
      <article class="sectfilm" onclick="{{film12.handler}}">
        <img src="/server/images/{{film12.ilustra}}" height="100" class="sectfilm__ilustra"/>
        <div class="tablo_titre"><h2 class="sectfilm__titre">{{film12.titre}}</h2>
        <p class="sectfilm__desci">{{film12.desci}}</p></div>
      </article>
    </div>
  </div>

  <!-- <div class="scroling"> -->
    <!-- <a href="#point1f"></a>
    <a href="#point2f"></a> 
    <a href="#point3f"></a>
    <a href="#point4f"></a>
    <a href="#point5f"></a>
    <a href="#point6f"></a>
    <a href="#point7f"></a>
    <a href="#point8f"></a>
    <a href="#point9f"></a>
    <a href="#point10f"></a>
    <a href="#point11f"></a>
    <a href="#point12f"></a> -->
    
    <!-- <svg for="point1f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point2f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point3f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point4f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point5f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point6f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point7f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point8f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point9f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point10f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point11f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
    <svg for="point12f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg>
  </div> -->
</div>

















<!-- 
<div class="parent">

<div class="carousel">
  <input type="radio" name="carousel" id="point1f" checked>
  <input type="radio" name="carousel" id="point2f">
  <input type="radio" name="carousel" id="point3f">
  <input type="radio" name="carousel" id="point4f">
  <input type="radio" name="carousel" id="point5f">
  <input type="radio" name="carousel" id="point6f">
  <input type="radio" name="carousel" id="point7f">
  <input type="radio" name="carousel" id="point8f">
  <input type="radio" name="carousel" id="point9f">
  <input type="radio" name="carousel" id="point10f">
  <input type="radio" name="carousel" id="point11f">
  <input type="radio" name="carousel" id="point12f">

  <div class="slide" id="slide1-content">
    <article class="sectfilm">
      <img src="/server/images/{{film1.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film1.titre}}</h2>
      <p class="sectfilm__desci">{{film1.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide2-content">
    <article class="sectfilm">
      <img src="/server/images/{{film2.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film2.titre}}</h2>
      <p class="sectfilm__desci">{{film2.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide3-content">
    <article class="sectfilm">
      <img src="/server/images/{{film3.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film3.titre}}</h2>
      <p class="sectfilm__desci">{{film3.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide4-content">
    <article class="sectfilm">
      <img src="/server/images/{{film4.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film4.titre}}</h2>
      <p class="sectfilm__desci">{{film4.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide5-content">
    <article class="sectfilm">
      <img src="/server/images/{{film5.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film5.titre}}</h2>
      <p class="sectfilm__desci">{{film5.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide6-content">
    <article class="sectfilm">
      <img src="/server/images/{{film6.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film6.titre}}</h2>
      <p class="sectfilm__desci">{{film6.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide7-content">
    <article class="sectfilm">
      <img src="/server/images/{{film7.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film7.titre}}</h2>
      <p class="sectfilm__desci">{{film7.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide8-content">
    <article class="sectfilm">
      <img src="/server/images/{{film8.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film8.titre}}</h2>
      <p class="sectfilm__desci">{{film8.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide9-content">
    <article class="sectfilm">
      <img src="/server/images/{{film9.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film9.titre}}</h2>
      <p class="sectfilm__desci">{{film9.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide10-content">
    <article class="sectfilm">
      <img src="/server/images/{{film10.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film10.titre}}</h2>
      <p class="sectfilm__desci">{{film10.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide11-content">
    <article class="sectfilm">
      <img src="/server/images/{{film11.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film11.titre}}</h2>
      <p class="sectfilm__desci">{{film11.desci}}</p>
    </article>
  </div>
  <div class="slide" id="slide11-content">
    <article class="sectfilm">
      <img src="/server/images/{{film12.ilustra}}" height="100" class="sectfilm__ilustra"/>
      <h2 class="sectfilm__titre">{{film12.titre}}</h2>
      <p class="sectfilm__desci">{{film12.desci}}</p>
    </article>
  </div>

  <div class="scroling">
    <label for="slide1"><svg for="point1f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide2"><svg for="point2f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide3"><svg for="point3f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide4"><svg for="point4f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide5"><svg for="point5f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide6"><svg for="point6f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide7"><svg for="point7f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide8"><svg for="point8f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide9"><svg for="point9f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide10"><svg for="point10f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide11"><svg for="point11f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
    <label for="slide12"><svg for="point12f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="IconChangeColor" height="50" width="50"><rect width="256" height="256" fill="none"></rect><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z" id="mainIconPathAttribute" fill="#000000"></path></svg></label>
  </div>
</div> -->
