
.scroll{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
  scroll-behavior: smooth;
  padding-left: 2rem;
  padding-top: 2rem;
}
