
<div class="les_category">
    <h1 class="title">{{categorie}} </h1>
    
    <div class="parent"> <!-- grid -->
        <div class="ligne conteneurlignefilm"> <!-- mise en forme -->
            <div class="div1 lignefilm" id="point1f">
                <article class="sectfilm" onclick="{{film1.handler}}">
                    <img src="./../../server/images/{{film1.ilustra}}" height="100" class="sectfilm__ilustra"/>
                    <h2 class="sectfilm__titre">{{film1.titre}}</h2>
                    <p class="sectfilm__desci">{{film1.desci}}</p>
                </article>
            </div>
        </div>
    </div>
</div>