
<div class="PF">
    <h2 class="PF__title"># Ajouter des profils de filtre</h2>
    <form class="PF__form" name="PF__form" id="PF__form">
        Saisir le nom de profil: <input required type="text" name="name" placeholder="Texte">
        Saisir l'age de restriction: <input required type="number" name="min_age" placeholder="Chiffre">
        Saisir le nom du fichier image du profil: <input required type="text" name="photo" placeholder="Texte.png">

        <input onclick="{{handler}}" type="button" value="Creer" name="todo">
    </form>
</div> 