<!-- Changement fini -->
 
    <nav>
        <svg class="fin_ligne">
            <rect class="ligne" width="90%" height="2" fill="#f3f0ef"/>
        </svg>
        <a class="fin_logohaut">
            <img src="{{chemin}}/server/images/Logos/logo_dr.png" class="logohaut__img"/>
        </a>
        <nav class="fin_contener">
            <ul class="fin__colone">
                <h2 class="colone__titre">Nyheder</h2>
                <p class="colone__texte">Seneste nyt</p>
                <p class="colone__texte">Regionalt</p>
                <p class="colone__texte">Sport</p>
                <p class="colone__texte">Vejret</p>
                <p class="colone__texte">Ultra Nyt</p>
            </ul>
            <ul class="fin__colone">
                <h2 class="colone__titre">TV & Radio</h2>
                <p class="colone__texte">TV-Guide</p>
                <p class="colone__texte">TV-programmer</p>
                <p class="colone__texte">Se live-TV</p>
                <p class="colone__texte">Gensyn</p>
                <p class="colone__texte">Ultra</p>
                <p class="colone__texte">Ramasjang</p>
                <p class="colone__texte">Hør radio</p>
            </ul>
            <ul class="fin__colone">
                <h2 class="colone__titre">Services</h2>
                <p class="colone__texte">Mit DR-login</p>
                <p class="colone__texte">Apps</p>
                <p class="colone__texte">Tilgængelighed</p>
                <p class="colone__texte">Nyhedsbreve</p>
                <p class="colone__texte">Kontakt DR</p>
                <p class="colone__texte">Tip os fortroligt</p>
                <p class="colone__texte">DR og dine data</p>
                <p class="colone__texte">Børn</p>
                <p class="colone__texte">Ultra</p>
                <p class="colone__texte">DR Lær</p>
            </ul>
            <ul class="fin__colone">
                <h2 class="colone__titre">Om DR</h2>
                <p class="colone__texte">Nyt fra DR</p>
                <p class="colone__texte">Job i DR</p>
                <p class="colone__texte">Presse</p>
                <p class="colone__texte">DR Koncerthuset</p>
                <p class="colone__texte">Rundvisninger</p>
                <p class="colone__texte">Vilkår på dr.dk</p>
                <p class="colone__texte">Etik og rettelser</p>
                <p class="colone__texte">Privatlivs­politik</p>
            </ul>
        </nav>
        <a class="fin_logobas">
            <img src="{{chemin}}/server/images/Logos/logo_presse-naevnet.png" class="logohaut__img2"/>
        </a>
        <svg class="fin_ligne">
            <rect class="ligne" width="90%" height="2" fill="#f3f0ef"/>
        </svg>
        <nav class="fin_credit">
            <p class="credit__textes">DR<em class="credit__cepara">|</em>
                Emil&nbsp;Holms&nbsp;Kanal&nbsp;20<em class="credit__cepara">|</em>
                0999&nbsp;København&nbsp;C<em class="credit__cepara">|</em>
                Tlf.&nbsp;35&nbsp;20&nbsp;30&nbsp;40</p>
        </nav>
        <a class="fin_nom">Kontakt DR</a> 
    </nav>
