
  <!-- <h1 class="title">Section</h1> - ->
<input type="radio" name="slider" title="slide2" class="slider__nav"/> <!- - définit une section - ->

<div class="slider__contents"><i class="slider__image fa fa-codepen"></i> <! -- est la section -- >
      <h2 class="slider__caption">titre</h2>
      <p class="slider__txt">contenue</p>
    </div> -->

<!-- définit une section -->

<h1 class="cate_film">{{categorie}}</h1> 
<div class="parent">
  <div class="ligne conteneurlignefilm">

    {{films}}
    
  </div>
</div>
