<nav class="navbar font-sans">

  <h1 class="logo_site"><em class="logo__maj">SPACE</em>stream</h1>

  <main name="petit" id="petit" onclick="">
    <ul class="navbar__list">
      <button class="retour-menu" onclick="{{hHome}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M1 10L3 8M3 8L10 1L17 8M3 8V18C3 18.5523 3.44772 19 4 19H7M17 8L19 10M17 8V18C17 18.5523 16.5523 19 16 19H13M7 19C7.55228 19 8 18.5523 8 18V14C8 13.4477 8.44772 13 9 13H11C11.5523 13 12 13.4477 12 14V18C12 18.5523 12.4477 19 13 19M7 19H13" stroke="#1B1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg><br/>HOME
      </button>
    </ul>
    
    <ul class="navbar__list">
      <select name="categorie" id="categorie" onclick="if (document.getElementById('categorie').value != '') C.getFilmsFiltresCategorie(document.getElementById('categorie').value)">
        <option value="">Type de film</option>
        <option value="1">Action</option>
        <option value="2">Comédie</option>
        <option value="3">Drame</option>
        <option value="4">Science-fiction</option>
        <option value="5">Animation</option>
        <option value="6">Thriller</option>
        <option value="7">Horreur</option>
        <option value="8">Aventure</option>
        <option value="9">Fantaisie</option>
        <option value="10">Documentaire</option>
      </select>
    </ul>
    
    <ul class="navbar__favoris"> <!-- favory -->
      <button class="favoris" onclick="{{hFavoris}}">
        <svg>
          <path d="M36.5 0H0V64.4065C0 64.8347 0.503185 65.0648 0.827075 64.7847L18.5 49.5L35.6678 64.7603C35.9903 65.0469 36.5 64.818 36.5 64.3866V0Z" fill="#183664"/>
          <path class="etoil" d="M14.0245 0.463523C14.1741 0.00286778 14.8259 0.00286992 14.9755 0.463525L17.98 9.71024C18.0469 9.91625 18.2389 10.0557 18.4555 10.0557H28.1781C28.6624 10.0557 28.8638 10.6755 28.472 10.9602L20.6062 16.675C20.431 16.8023 20.3577 17.028 20.4246 17.234L23.429 26.4807C23.5787 26.9414 23.0515 27.3245 22.6596 27.0398L14.7939 21.325C14.6186 21.1977 14.3814 21.1977 14.2061 21.325L6.34038 27.0398C5.94853 27.3245 5.42129 26.9414 5.57096 26.4807L8.5754 17.234C8.64234 17.028 8.56901 16.8023 8.39377 16.675L0.528044 10.9602C0.136187 10.6755 0.337576 10.0557 0.821937 10.0557H10.5445C10.7611 10.0557 10.9531 9.91625 11.02 9.71024L14.0245 0.463523Z" fill="#ffc000"/>
        </svg>
      </button>
    </ul>

    <ul class="navbar__profil">
      <button class="selectp" onclick="{{cProfil}}">
        <img src="/server/images/PhotoProfil{{profilephoto}}" height="100" class="sectprofile"/>
      </button>
    </ul>
  </main>
  

  <!-- teste button -->
  <!-- <div class="text-box">
      <a href="#" class="btn btn-white btn- animate">click me</a>
  </div> -->

</nav>



<!--
  <select name="categorie"  >
    <option value="1">
      <img src="/server/images/PhotoProfil{{profilephoto}}" height="100" class="sectprofile"/>
    </option>
    <option value="2">
      <img src="/server/images/PhotoProfil{{profile1.photo}}" height="100" class="sectprofile"/>
    </option>
    <option value="3">
      <img src="/server/images/PhotoProfil{{profile1.photo}}" height="100" class="sectprofile"/>
    </option>
    <option value="4">
      <img src="/server/images/PhotoProfil/profilePlus.png" height="100" class="sectprofile"/>
    </option>
  </select>
-->

