<nav class="navbar font-sans">

  <h1 class="logo_site"><em class="logo__maj">SPACE</em>stream</h1>

  <article name="petit" id="petit" onclick="">
    <ul class="navbar__list">
      <button class="retour-menu" onclick="{{hHome}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M1 10L3 8M3 8L10 1L17 8M3 8V18C3 18.5523 3.44772 19 4 19H7M17 8L19 10M17 8V18C17 18.5523 16.5523 19 16 19H13M7 19C7.55228 19 8 18.5523 8 18V14C8 13.4477 8.44772 13 9 13H11C11.5523 13 12 13.4477 12 14V18C12 18.5523 12.4477 19 13 19M7 19H13" stroke="#1B1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg><br/>HOME
      </button>
    </ul>
    </br>
    <ul class="navbar__list">
      <select name="categorie" id="categorie" onclick="if (document.getElementById('categorie').value != '') C.getFilmsFiltresCategorie(document.getElementById('categorie').value)">
        <option value="">Type de film</option>
        <option value="1">Action</option>
        <option value="2">Comédie</option>
        <option value="3">Drame</option>
        <option value="4">Science-fiction</option>
        <option value="5">Animation</option>
        <option value="6">Thriller</option>
        <option value="7">Horreur</option>
        <option value="8">Aventure</option>
        <option value="9">Fantaisie</option>
        <option value="10">Documentaire</option>
      </select>
    </ul>
    </br>
    <ul class="navbar__profil">
      <button class="selectp" onclick="{{cProfil}}">
        <img src="/server/images/PhotoProfil{{profilephoto}}" height="100" class="sectprofile"/>
      </button>
    </ul>
  </article>
  

  <!-- teste button -->
  <!-- <div class="text-box">
      <a href="#" class="btn btn-white btn- animate">click me</a>
  </div> -->

</nav>



<!--
  <select name="categorie"  >
    <option value="1">
      <img src="/server/images/PhotoProfil{{profilephoto}}" height="100" class="sectprofile"/>
    </option>
    <option value="2">
      <img src="/server/images/PhotoProfil{{profile1.photo}}" height="100" class="sectprofile"/>
    </option>
    <option value="3">
      <img src="/server/images/PhotoProfil{{profile1.photo}}" height="100" class="sectprofile"/>
    </option>
    <option value="4">
      <img src="/server/images/PhotoProfil/profilePlus.png" height="100" class="sectprofile"/>
    </option>
  </select>
-->

