<!-- Changement fini -->

<div class="choix_pro">

    <article class="pro__ilustra1">
        <img src="{{chemin}}/server/images/{{illustra1}}" height="100" class="ilustra1__image"/>
    </article>
    <article class="pro__ilustra2">
        <img src="{{chemin}}/server/images/{{illustra2}}" height="100" class="ilustra2__image"/>
    </article>

    <div class="encade_img">
        <a class="img__logohaut">
            <img src="{{chemin}}/server/images/Logos/logo_dr.png" class="logohaut__img"/>
        </a>

        <div class="connexion">
            <h1 class="connexion__titre">Choisisez votre profil</h1>

            <article class="connexion__pro"> 
                {{profiles}}
            </article>
        </div>
    </div>
</div>
