
.PF {
    width:30rem;
}

.PF__title {
    margin-bottom: 0.2rem;
    color: #000000;
  
}

.PF__form {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    padding:1.5rem;
    font-family: "Space Grotesk";
}

.PF__form select {
    font-size: medium;
    border-style: none;
    margin-top: .8rem;
}

.AF__form input {
    margin-top: .8rem;
    font-size: medium;
    border-style: none;
    display: inline-block;
    height: 2rem;
    
}

.AF__form input[type=button] {
    background-color: rgb(89, 60, 219);
    color:#000000;
    
   
}