
<div class="PF">
    <form class="PF__form" name="PF__form" id="PF__form">
        <h2 class="PF__title"># Ajouter des profils de filtre</h2>
        <input required type="text" name="name" placeholder="Saisir le nom de profil">
        <input required type="number" name="min_age" placeholder="Saisir l'age de restriction">
        <input required type="text" name="photo" placeholder="Saisir le nom du fichier image du profil">

        <input onclick="{{handler}}" type="button" value="Update" name="todo">
    </form>
</div> 