.font-sans {
  font-family: var(--ff-sans);
}

.font-mono {
  font-family: Courier, monospace;
}

body {
  background-color: var(--color-bleu-with);
}

#log {
  position: relative;
}

#moviee {
  position: center;
}